// fonts
$font-family: 'Rubik', sans-serif;

// colors
$persian-green: #2F9F8Dff;
$international-orange-golden-gate-bridge: #C93825ff;
$illuminating-emerald: #269280ff;
$white: #FFFFFFff;
$black: black; 
$davys-grey: #54585Aff;
