@import "./core/reset";
@import "./core/Variables.scss";

.body {
  height: 100%;
  padding: 50px;
  background-color: $white;
  line-height: 1.6;
  font-family: $font-family;
}

.header {
  margin-bottom: 20px;
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: $persian-green;
  }
}

.form__section {
  text-align: center;
  margin: 20px 0 20px 0;
  &--label {
    margin: 10px;
  }
  &--select {
    padding: 3px;
  }
  &--input {
    padding: 2px;
  }
}

.table {
  text-align: center;
  background-color: $illuminating-emerald;
  height: 600px;
  overflow-y: scroll;
  &__section {
    width: 100%;
    height: 100vh;
    &--thead {
      background-color: $davys-grey;
      color: $white;
      font-weight: 700;
      border: 1px solid $davys-grey;
      position: sticky;
      top: 0px;
    }
    &--tbody {
      &--td {
        padding: 15px;
      }
    }
  }
}
.thead__categories {
  padding: 10px;
}

.td__list {
  list-style: none;
  &--link {
    text-decoration: none;
    color: $black;
  }
}

.add {
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: $international-orange-golden-gate-bridge;
    line-height: 1.6;
    padding: 15px;
  }
  &__form {
    text-align: center;
    margin: 20px 0 20px 0;
    &--label {
      margin: 10px;
    }
    &--input {
      padding: 2px;
    }
    &--button {
      margin-left: 10px;
      background-color: $international-orange-golden-gate-bridge;
      color: $white;
      font-weight: 700;
      border-radius: 20px;
      border: none;
      padding: 10px 10px 10px 10px;
      transition: background-color 1s, transform 1s;
      &:hover {
        background-color:$persian-green;
        color: $davys-grey;
        transform: scale(1.05);
    }
  }
}
}